.git
.gitignore
.env
.env.*
node_modules
npm-debug.log
yarn-error.log
.next
.env.local
.env.*.local
.DS_Store
dist
build
coverage
.vscode
.idea
*.swp
*.swo
*~
.eslintcache
k8s
.github
.claude
Dockerfile
docker-compose.yaml
*.md
